WEEK -06 , ASS NO -01

Q1. What is a database? Differentiate between SQL and NoSQL databases.

### What is a Database?

A **database** is an organized collection of structured information or data, typically stored electronically in a computer system. Databases are managed by Database Management Systems (DBMS) that allow for efficient data storage, retrieval, updating, and management. They can handle large volumes of data and facilitate operations such as data querying, transactions, and reporting.

Databases can be categorized into several types, including relational databases (which use structured query language, SQL) and non-relational databases (which can be referred to as NoSQL databases).

### Differences Between SQL and NoSQL Databases

| Feature                | SQL Databases                               | NoSQL Databases                             |
|-----------------------|--------------------------------------------|--------------------------------------------|
| **Definition**        | SQL (Structured Query Language) databases are relational databases that store data in structured tables with predefined schemas. | NoSQL (Not Only SQL) databases are non-relational databases that can store unstructured or semi-structured data and do not require a fixed schema. |
| **Data Structure**    | Data is organized in tables (rows and columns) with relationships defined between them. | Data can be stored in various formats, such as key-value pairs, documents, wide-columns, or graphs, allowing for greater flexibility. |
| **Schema**            | Typically requires a fixed schema that defines the structure of data before inserting it. Changes to the schema can be complex. | Schema-less or dynamic schema, allowing for more flexibility in how data is stored and modified. |
| **Query Language**    | Uses SQL for defining and manipulating data, which provides powerful querying capabilities. | Querying methods vary (e.g., JSON queries, key-value access) and are generally less standardized than SQL. |
| **Transactions**      | Supports ACID (Atomicity, Consistency, Isolation, Durability) properties to ensure reliable transactions. | May not fully support ACID properties; many NoSQL databases follow BASE (Basically Available, Soft state, Eventually consistent) principles, allowing for more relaxed consistency. |
| **Scalability**       | Primarily scales vertically (adding more power to a single server) but can also scale horizontally with complexity. | Designed for horizontal scaling (adding more servers), making it easier to handle large volumes of traffic and data. |
| **Use Cases**         | Best suited for applications requiring complex queries, structured data, and strong consistency, such as financial applications and inventory management. | Ideal for applications with large amounts of unstructured or semi-structured data, real-time web applications, big data analytics, and content management systems. |
| **Examples**          | MySQL, PostgreSQL, Oracle, Microsoft SQL Server. | MongoDB, Cassandra, Redis, Couchbase, DynamoDB. |

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

### What is DDL?

**DDL** stands for **Data Definition Language**, which is a subset of SQL (Structured Query Language) used for defining and managing all the structures in a database. DDL commands allow you to create, modify, and delete database objects such as tables, indexes, and schemas. Unlike DML (Data Manipulation Language), which deals with data manipulation (inserting, updating, deleting), DDL focuses on the database structure itself.

### Common DDL Commands

1. **CREATE**: Used to create a new database object, such as a table, index, or view.
2. **DROP**: Used to delete an existing database object, such as a table, index, or view.
3. **ALTER**: Used to modify an existing database object, such as adding or dropping columns in a table.
4. **TRUNCATE**: Used to remove all records from a table while retaining the table structure for future use.

### Detailed Explanation of DDL Commands

#### 1. CREATE

**Usage**: The `CREATE` command is used to create new tables, indexes, views, or even databases.

**Example**:
```sql
CREATE TABLE Employees (
    EmployeeID INT PRIMARY KEY,
    FirstName VARCHAR(50),
    LastName VARCHAR(50),
    HireDate DATE
);
```
This command creates a new table named `Employees` with four columns: `EmployeeID`, `FirstName`, `LastName`, and `HireDate`.

#### 2. DROP

**Usage**: The `DROP` command is used to delete an existing database object. When a table is dropped, all its data, structure, and associated indexes are also removed.

**Example**:
```sql
DROP TABLE Employees;
```
This command deletes the `Employees` table from the database along with all its data.

#### 3. ALTER

**Usage**: The `ALTER` command is used to modify an existing database object, such as adding, deleting, or modifying columns in a table.

**Example**:
```sql
ALTER TABLE Employees ADD Email VARCHAR(100);
```
This command adds a new column named `Email` to the existing `Employees` table.

Another example for modifying an existing column:
```sql
ALTER TABLE Employees MODIFY FirstName VARCHAR(100);
```
This command modifies the `FirstName` column to increase its length to 100 characters.

#### 4. TRUNCATE

**Usage**: The `TRUNCATE` command is used to remove all rows from a table without removing the table itself. It is a faster way to clear data compared to the `DELETE` statement, as it does not log individual row deletions.

**Example**:
```sql
TRUNCATE TABLE Employees;
```
This command removes all records from the `Employees` table but keeps the table structure intact for future use.

### Summary of Differences

- **CREATE** is used to add new structures (tables, etc.) to the database.
- **DROP** is used to remove existing structures from the database.
- **ALTER** is used to change the structure of existing tables.
- **TRUNCATE** is used to quickly delete all rows from a table without removing the table itself.

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

### What is DML?

**DML** stands for **Data Manipulation Language**, which is a subset of SQL (Structured Query Language) used for managing and manipulating data stored in a database. DML commands allow you to perform operations such as inserting, updating, and deleting records within database tables. Unlike DDL (Data Definition Language), which deals with database structure, DML focuses on the actual data within those structures.

### Common DML Commands

1. **INSERT**: Adds new rows of data into a table.
2. **UPDATE**: Modifies existing data in a table.
3. **DELETE**: Removes existing rows from a table.

### Detailed Explanation of DML Commands

#### 1. INSERT

**Usage**: The `INSERT` command is used to add new records to a table. You can insert one or multiple rows at a time.

**Example**:
```sql
INSERT INTO Employees (EmployeeID, FirstName, LastName, HireDate) 
VALUES (1, 'John', 'Doe', '2024-01-15');
```
This command inserts a new record into the `Employees` table with `EmployeeID` as 1, `FirstName` as 'John', `LastName` as 'Doe', and `HireDate` as January 15, 2024.

To insert multiple records at once:
```sql
INSERT INTO Employees (EmployeeID, FirstName, LastName, HireDate) 
VALUES 
(2, 'Jane', 'Smith', '2024-01-16'),
(3, 'Alice', 'Johnson', '2024-01-17');
```
This command adds two new records to the `Employees` table.

#### 2. UPDATE

**Usage**: The `UPDATE` command is used to modify existing records in a table. Itâ€™s important to include a `WHERE` clause to specify which records to update; otherwise, all records in the table will be affected.

**Example**:
```sql
UPDATE Employees 
SET LastName = 'Doe-Smith' 
WHERE EmployeeID = 2;
```
This command updates the `LastName` of the employee with `EmployeeID` 2 to 'Doe-Smith'.

To update multiple columns:
```sql
UPDATE Employees 
SET FirstName = 'Alice', LastName = 'Doe' 
WHERE EmployeeID = 3;
```
This command updates both the `FirstName` and `LastName` for the employee with `EmployeeID` 3.

#### 3. DELETE

**Usage**: The `DELETE` command is used to remove existing records from a table. Similar to `UPDATE`, itâ€™s crucial to include a `WHERE` clause to specify which records to delete; otherwise, all records will be deleted.

**Example**:
```sql
DELETE FROM Employees 
WHERE EmployeeID = 1;
```
This command removes the employee record with `EmployeeID` 1 from the `Employees` table.

To delete all records from a table:
```sql
DELETE FROM Employees;
```
This command removes all records from the `Employees` table but retains the table structure.

Q4. What is DQL? Explain SELECT with an example.

### What is DQL?

**DQL** stands for **Data Query Language**, which is a subset of SQL (Structured Query Language) used for querying and retrieving data from a database. The primary command in DQL is `SELECT`, which allows you to specify and retrieve data from one or more tables. DQL is essential for data analysis, reporting, and any application where data needs to be fetched from a database.

### The SELECT Statement

The `SELECT` statement is the most commonly used command in DQL. It enables you to specify which columns of data you want to retrieve from a database table and apply various filtering and sorting options.

### Basic Syntax of SELECT

The basic syntax of a `SELECT` statement is as follows:

```sql
SELECT column1, column2, ...
FROM table_name
WHERE condition
ORDER BY column_name ASC|DESC;
```

- **`SELECT`**: Specifies the columns to retrieve.
- **`FROM`**: Specifies the table from which to retrieve the data.
- **`WHERE`**: (Optional) Specifies conditions to filter the results.
- **`ORDER BY`**: (Optional) Specifies the column(s) to sort the results.

### Example of SELECT

Letâ€™s say you have a table named `Employees` with the following columns: `EmployeeID`, `FirstName`, `LastName`, `HireDate`, and `Salary`.

#### Example 1: Simple SELECT Statement

To retrieve all columns from the `Employees` table:

```sql
SELECT * 
FROM Employees;
```

This command retrieves all records and all columns from the `Employees` table. The `*` is a wildcard that means "all columns."

#### Example 2: SELECT Specific Columns

To retrieve specific columns, such as `FirstName` and `LastName`:

```sql
SELECT FirstName, LastName 
FROM Employees;
```

This command retrieves only the `FirstName` and `LastName` columns for all employees.

#### Example 3: SELECT with WHERE Clause

To retrieve employees with a specific condition, such as those hired after January 1, 2024:

```sql
SELECT * 
FROM Employees 
WHERE HireDate > '2024-01-01';
```

This command retrieves all columns for employees who were hired after January 1, 2024.

#### Example 4: SELECT with ORDER BY Clause

To retrieve employee names sorted by `LastName` in ascending order:

```sql
SELECT FirstName, LastName 
FROM Employees 
ORDER BY LastName ASC;
```

This command retrieves the `FirstName` and `LastName` of all employees, sorted alphabetically by `LastName`.

### Example 5: SELECT with Multiple Conditions

You can also use multiple conditions in the `WHERE` clause. For example, to find employees with a salary greater than $50,000 who were hired after January 1, 2024:

```sql
SELECT * 
FROM Employees 
WHERE Salary > 50000 AND HireDate > '2024-01-01';
```

This command retrieves all columns for employees meeting both criteria.

Q5. Explain Primary Key and Foreign Key.

### Primary Key

A **Primary Key** is a unique identifier for a record in a database table. It ensures that each row in the table can be uniquely distinguished from every other row. A primary key has the following characteristics:

1. **Uniqueness**: Each value in a primary key column must be unique across the table. No two rows can have the same primary key value.

2. **Non-nullable**: A primary key cannot have a `NULL` value. Every record must have a valid value for the primary key.

3. **Immutable**: The value of a primary key should not change. Once a record is created, its primary key value should remain constant.

4. **Single Column or Composite**: A primary key can consist of a single column (simple primary key) or a combination of multiple columns (composite primary key).

#### Example of Primary Key

Consider a table named `Employees`:

| EmployeeID | FirstName | LastName | HireDate   |
|------------|-----------|----------|------------|
| 1          | John      | Doe      | 2024-01-15 |
| 2          | Jane      | Smith    | 2024-01-16 |
| 3          | Alice     | Johnson  | 2024-01-17 |

In this table, `EmployeeID` can be defined as the primary key because it uniquely identifies each employee and cannot be `NULL`.

```sql
CREATE TABLE Employees (
    EmployeeID INT PRIMARY KEY,
    FirstName VARCHAR(50),
    LastName VARCHAR(50),
    HireDate DATE
);
```

### Foreign Key

A **Foreign Key** is a field (or a collection of fields) in one table that uniquely identifies a row of another table. It establishes a relationship between the two tables and enforces referential integrity, ensuring that the value in the foreign key column matches an existing primary key in the referenced table or is `NULL`.

#### Characteristics of Foreign Key

1. **Referential Integrity**: A foreign key ensures that relationships between tables remain consistent. It prevents actions that would destroy links between tables.

2. **Nullable or Non-nullable**: A foreign key can contain `NULL` values, allowing for optional relationships.

3. **Can be Composite**: A foreign key can consist of multiple columns, matching a composite primary key in another table.

#### Example of Foreign Key

Consider another table named `Departments`:

| DepartmentID | DepartmentName |
|---------------|-----------------|
| 1             | Sales           |
| 2             | HR              |
| 3             | IT              |

To link the `Employees` table with the `Departments` table, we can add a `DepartmentID` foreign key to the `Employees` table:

```sql
CREATE TABLE Employees (
    EmployeeID INT PRIMARY KEY,
    FirstName VARCHAR(50),
    LastName VARCHAR(50),
    HireDate DATE,
    DepartmentID INT,
    FOREIGN KEY (DepartmentID) REFERENCES Departments(DepartmentID)
);
```

### Relationship Between Primary Key and Foreign Key

- The **primary key** is used to uniquely identify a record in its own table.
- The **foreign key** is used to link to the primary key of another table, creating a relationship between the two tables.
  
For example, in the `Employees` table, the `DepartmentID` serves as a foreign key that references the `DepartmentID` in the `Departments` table. This relationship allows us to associate each employee with a specific department, enforcing integrity across the tables.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

To connect MySQL to Python, you typically use the `mysql-connector-python` library, which allows you to interact with a MySQL database easily. Below is an example of how to connect to a MySQL database, along with an explanation of the `cursor()` and `execute()` methods.

### Prerequisites

Make sure you have the MySQL server installed and running. Also, you need to install the `mysql-connector-python` library if you haven't done so already. You can install it using pip:

```bash
pip install mysql-connector-python
```

### Python Code to Connect to MySQL

Here's a sample Python code to connect to a MySQL database and perform a simple query:

```python
import mysql.connector
from mysql.connector import Error

def connect_to_mysql():
    """Connect to the MySQL database and perform a simple query."""
    try:
        # Establish the connection
        connection = mysql.connector.connect(
            host='localhost',           # Hostname of the MySQL server
            database='your_database',   # Name of the database to connect to
            user='your_username',       # Your MySQL username
            password='your_password'    # Your MySQL password
        )
        
        if connection.is_connected():
            print("Successfully connected to the database")
            
            # Create a cursor object using the cursor() method
            cursor = connection.cursor()
            
            # Use the cursor to execute a query
            cursor.execute("SELECT * FROM Employees")  # Replace 'Employees' with your table name
            
            # Fetch all results from the executed query
            rows = cursor.fetchall()
            
            # Print the results
            for row in rows:
                print(row)
    
    except Error as e:
        print(f"Error: {e}")
    
    finally:
        # Close the connection
        if connection.is_connected():
            cursor.close()   # Close the cursor
            connection.close()  # Close the connection
            print("Connection closed")

# Call the function
connect_to_mysql()
```

### Explanation of `cursor()` and `execute()` Methods

#### 1. `cursor()`

- The `cursor()` method creates a cursor object, which is a control structure that allows you to execute SQL queries and fetch data from the database.
- It acts as a pointer that enables you to traverse through the records in a result set.

**Usage**:
```python
cursor = connection.cursor()
```
After calling `cursor()`, you can use this cursor to execute SQL commands and retrieve data.

#### 2. `execute()`

- The `execute()` method is called on the cursor object to execute a SQL statement. It takes a SQL query as its argument and runs it against the database.
- You can also pass parameters to `execute()` for parameterized queries, which helps prevent SQL injection attacks.

**Usage**:
```python
cursor.execute("SELECT * FROM Employees")
```
This command executes the SQL query to select all records from the `Employees` table.

Q7. Give the order of execution of SQL clauses in an SQL query.

The order of execution of SQL clauses in a typical SQL query is essential to understand because it determines how the query is processed by the database engine. Here's the correct sequence of the SQL clauses:

1. **FROM**: This clause is evaluated first to determine the source of the data (tables, views, joins, etc.). The database retrieves the data from the specified tables.

2. **JOIN**: If the query involves joining tables, the joins are processed next. This step combines rows from multiple tables based on the specified conditions.

3. **WHERE**: The `WHERE` clause is evaluated after determining the data sources. It filters the rows based on the specified conditions, excluding rows that do not meet the criteria.

4. **GROUP BY**: This clause groups the remaining rows that have the same values in specified columns into summary rows, often used with aggregate functions.

5. **HAVING**: After grouping the data, the `HAVING` clause is applied to filter the groups based on aggregate values. It works similarly to `WHERE` but is used for grouped data.

6. **SELECT**: This clause is evaluated next. It determines which columns to include in the final result set. If aggregate functions are used, this is also where they are applied.

7. **ORDER BY**: After the result set is constructed, the `ORDER BY` clause sorts the final results based on specified columns in ascending or descending order.

8. **LIMIT**: If present, this clause is evaluated last to restrict the number of rows returned in the final result set.

### Summary of the Order of Execution

The order of execution can be summarized as follows:

1. **FROM**
2. **JOIN**
3. **WHERE**
4. **GROUP BY**
5. **HAVING**
6. **SELECT**
7. **ORDER BY**
8. **LIMIT**

### Example SQL Query

Consider the following SQL query:

```sql
SELECT Department, COUNT(EmployeeID) AS NumEmployees
FROM Employees
WHERE HireDate > '2024-01-01'
GROUP BY Department
HAVING COUNT(EmployeeID) > 5
ORDER BY NumEmployees DESC;
```

In this example, the execution flow would be:

1. **FROM Employees**: Retrieve data from the `Employees` table.
2. **WHERE HireDate > '2024-01-01'**: Filter out employees hired before January 1, 2024.
3. **GROUP BY Department**: Group the remaining employees by their department.
4. **HAVING COUNT(EmployeeID) > 5**: Filter out departments with 5 or fewer employees.
5. **SELECT Department, COUNT(EmployeeID) AS NumEmployees**: Select the department and the count of employees for each department.
6. **ORDER BY NumEmployees DESC**: Sort the results by the number of employees in descending order.

Understanding this order helps in writing efficient SQL queries and debugging them when necessary.